body{
    margin: 0;
    padding: 0;
    background-color: azure;

}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1abc9c;
    height: 40px;
    border-radius: 45px;
    padding: 10px;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background-color: rgb(5, 29, 49);
}
.search-btn{
    color: #fff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1abc9c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}
.search-txt{
    border:none ;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
.search-txt::placeholder{
    color: #fff;
}