*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(130deg, azure, rgb(234, 247, 177));
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    background: none;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
    margin: 5px;
}
button:hover{
    transform: translateY(-10px);
}
button:nth-child(1){
    border: 2px solid #0059fd;
    color: #0059fd;
}
button:nth-child(1):hover{
    border: 25px solid #0059fd;
    color: #fff;
}
button:nth-child(2){
    border: 2px solid #111397;
    color: #111397;
}
button:nth-child(2):hover{
    border: 25px solid #111397;
    color: #fff;
}
button:nth-child(3){
    border: 2px solid #c62f88;
    color: #c62f88;
}
button:nth-child(3):hover{
    border: 25px solid #c62f88;
    color: #fff;
}
button:nth-child(4){
    border: 2px solid #1bcf39;
    color: #1bcf39;
}
button:nth-child(4):hover{
    border: 25px solid #1bcf39;
    color: #fff;
}
button:nth-child(5){
    border: 2px solid #000;
    color: #000;
}
button:nth-child(5):hover{
    border: 25px solid #000;
    color: #fff;
}