*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media-btn{
    padding: 0 20px;
    height: 50px;
    border-radius: 5px;
    background-color: #001234;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
    transition: .2s;
}
.social-media-btn:hover{
    filter: brightness(1.3);
}
.social-media-btn i{
    margin-right: 10px;
}
.list-social-medias{
    padding: 0 20px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ddd;
    color: #001234;
    position: relative;
    animation: 1s animation infinite;
    transform: translate3d(0px, 0px, 0px);
}
@keyframes animation{
    0%, 100%{
        transform: translate3d(0px, 0px, 0px);
    }
    50%{
        transform: translate3d(10px, 0px, 0px);
    }
}
.list-social-medias::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #ddd;
}